@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

h1 {
	font-size: 4rem;
}

#text {
	font-size: 2rem;
}

body {
	min-height: 100vh;
	background: url('./tree.jpeg') no-repeat center center/cover;
	margin: 0;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
	display: flex;
  flex-direction: column;
  align-items: center;
}

.yellow {
	color: yellow;
	font-size: 4rem;
}

.container {
	width: 30rem;
	height: 30rem;
	margin: auto;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transform: scale(1);
}

.circle {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
	box-shadow: 0px 0px 20px #d3d3d3;
}

.gradient-circle {
  background: conic-gradient(
		#fff 1%,
    #8ad0ff 1%,
    #206dc5 49%,
		#fff 49%,
		#fff 51%,
    #e7a600  51%,
    #ffe3af 99%,
		#fff 99%
0  );
  height: 34rem;
  width: 34rem;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -32px;
  left: -32px;
	box-shadow: 0px 0px 40px #d3d3d3;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: block;
}

.pointer-container {
  position: absolute;
	top: -30px;
	left: 230px;
	width: 20px;
	height: 270px;
	animation: rotate 11s linear forwards infinite;
	transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 5.5s linear forwards;
}
@keyframes grow {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.35);
  }
}

.container.shrink {
  animation: shrink 5.5s linear forwards;
}
@keyframes shrink {
  from {
    transform: scale(1.35);
  }
  to {
    transform: scale(0.8);
  }
}